---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="Stack technique">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        <br />
      </p>
      <ul class="list-disc list-inside">
        <li>Python</li>
        <li>Linux</li>
        <li>Gitlab CI/CD</li>
        <li>Ansible</li>
        <li>Docker</li>
        <li>Kubernetes</li>
        <li>NixOS</li>
      </ul>
    </div>
  </div>
</Card>
