---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-2" rowSpan="md:row-span-7" title="Projets">
  <p class="text-sm font-bold">
  </p>
  <ul class="text-sm font-light pl-5 list-disc">
    <li ><strong>Site de cours build via mkdocs avec correction de TP dans un sous dossier <a href="https://github.com/BouleJaune/scripting-unix" style="color: red" target="_blank">Repo git</a> </strong></li>
    <li ><strong>Jupyter Notebooks de training et inférence de classification/object detection en computer vision <a href="https://github.com/BouleJaune/picselliaT" style="color: red" target="_blank">Repo git</a></a> </strong></li>
    <li ><strong>Fork d'un plugin TMUX de management de sessions avec quelques modifications simples <a href="https://github.com/BouleJaune/tmux-sessionist" style="color: red" target="_blank">Repo git</a></a> </strong></li>
    <li ><strong>Infra NixOS avec une dizaine de services <a href="https://github.com/BouleJaune/nixos-config" style="color: red" target="_blank">Repo git</a></a> </strong></li>
    <li ><strong>Archlinux customisé avec interface graphique Python (Qtile) et config Neovim <a href="https://github.com/BouleJaune/dots-files" style="color: red" target="_blank">Repo git</a></a> </strong></li>
    <li ><strong>Portfolio personnel avec astro.build <a href="https://github.com/BouleJaune/portfolio" style="color: red" target="_blank">Repo git</a></a> </strong></li>
    <li ><strong>Projet Vagrant pour déploiement de cluster K8S sur backend libvirt/QEMU/KVM <a href="https://github.com/BouleJaune/vagrant-kubeadm-kubernetes" style="color: red" target="_blank">Repo git</a></a> </strong></li>
    
    <li ><strong>Fork de ZMK pour conteneurisation de l'env de build du firmware en local plutôt que via GhA <a href="https://github.com/BouleJaune/zmk" style="color: red" target="_blank">Repo git</a></a> </strong></li>
    <li ><strong>Firmware ZMK de clavier ergo split DIY <a href="https://github.com/BouleJaune/zmk-config" style="color: red" target="_blank">Repo git</a></a> </strong></li>
    <li ><strong>Firmwares QMK de divers claviers ergo split DIY <a href="https://github.com/BouleJaune/qmk_firmware" style="color: red" target="_blank">Repo git</a></a> </strong></li>
    <li ><strong>Projet de clavier DIY 100% avec PCB/Case/Schematics/Firmware <a href="https://github.com/BouleJaune/Clavier_Custom" style="color: red" target="_blank">Repo git</a></a> </strong></li>
    <li ><strong>Logiciel + Code MCU pour sonde de mesure de rémanence d'écrans <a href="https://github.com/BouleJaune/Remanence-Ecrans" style="color: red" target="_blank">Repo git</a></a> </strong></li>
    <li ><strong>Implémentation de divers modèles de deep learning <a href="https://github.com/BouleJaune/IA-et-Deep-Learning" style="color: red" target="_blank">Repo git 1, </a></a><a href="https://github.com/BouleJaune/Deep-Learning-HWK" style="color: red" target="_blank">Repo git 2</a></a> </strong></li>
    <li ><strong> Diverses contributions à des projets open source</a> </strong></li>
  </ul>
</Card>
